############ ----- FRONTEND ----- #########

# Logs
Frontend/UI/logs/
Frontend/UI/*.log
Frontend/UI/npm-debug.log*
Frontend/UI/yarn-debug.log*
Frontend/UI/yarn-error.log*
Frontend/UI/pnpm-debug.log*
Frontend/UI/lerna-debug.log*

# Dependencies / Build
Frontend/UI/node_modules/
Frontend/UI/dist/
Frontend/UI/dist-ssr/
Frontend/UI/*.local

# Editor / OS
Frontend/UI/.vscode/*
!Frontend/UI/.vscode/extensions.json
Frontend/UI/.idea/
Frontend/UI/.DS_Store
Frontend/UI/*.suo
Frontend/UI/*.ntvs*
Frontend/UI/*.njsproj
Frontend/UI/*.sln
Frontend/UI/*.sw?

# Environment
Frontend/UI/.env
Frontend/UI/.env.*
!Frontend/UI/.env.example